<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="EnergyCtrl"> 
  <div ng-repeat="Carshow in myData">
 <div ng-repeat="car in Carshow.cars|orderBy:'model'">
<ul style="list-style-type: none;">
 <li>{{car.make}}</li>
 <li style="margin-left:20px;">{{car.model}}</li>
 <li style="margin-left:30px;">{{Carshow.name}}</li>
<ul>
  </div>
 </div>

<script>
var app = angular.module('myApp', []);
app.controller('EnergyCtrl', function($scope, $http) {
  $http.get("cars.json").then(function (response) {
      $scope.myData = response.data;
  });
});
</script>

</body>
</html>
